html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  z-index: 99;
}

.nav-colored {
  background-color: #fff;
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.nav-transparent {
  background-color: transparent;
  transition: 0.3s;
}

.logo-white {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0));
}

.logo-shadow {
  filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.9));
}

.logo {
  cursor: pointer;
}
.logo img {
  width: 170px;
}

.sign-up,
.overlay__content a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.nav_links a {
  font-weight: 500;
  text-decoration: none;
}

.nav_links_black a {
  color: #444;
}

.nav_links_white a {
  color: #fff;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links li {
  padding: 0px 25px;
}

.nav_links li a {
  transition: color 0.3s ease 0s;
  font-weight: 400;
}

.nav_links li a:hover {
  color: #00cc76;
}

.sign-up {
  padding: 9px 25px;
  background-color: #00cc76;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  color: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px 30px;
}
.nav-image {
  width: 150px;
  height: 50px;
}
.navbar {
  display: flex;
}
.navbar a {
  margin-right: 70px;
  font-weight: 500;
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  color: white;
  position: relative;
  left: 80px;
}
.navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s;
}
.navbar a:hover::after {
  width: 100%;
}
.sign {
  display: flex;
}
.sign p {
  margin-right: 20px;
  font-family: "Prompt", sans-serif;
}
.img-container {
  background: url(background/DetailDesease.svg);
  background-size: cover;
  height: 230px;
  width: 100vw;
}
.description {
  width: 75%;
  margin: auto;
}
.description .maintitle {
  margin-bottom: 24px;
  margin-top: 55px;
  color: #00aa95;
  font-size: 34px;
  font-weight: 600;
}
.description .maintitle-p {
  font-weight: 200;
  line-height: 23px;
  color: #777;
}
.description .title1 {
  margin-top: 70px;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 20px;
}
.description .title1-p {
  font-weight: 200;
  line-height: 23px;
  color: #777;
}
.description .title2 {
  margin-top: 70px;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 20px;
}
.description .title2-p {
  font-weight: 200;
  line-height: 23px;
  color: #777;
}
.description .title3 {
  margin-top: 70px;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
  color: #00aa95;
}
.description .title3-p {
  font-weight: 200;
  line-height: 23px;
  color: #777;
}
.comments {
  background: none;
  border: 1px dashed black;
  padding: 50px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 120px;
}
.comments h1 {
  margin-bottom: 20px;
  font-family: "Prompt", sans-serif;
  font-weight: 100;
}
.comments p {
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
.people-comments h1 {
  margin-top: 30px;
  font-family: "Prompt", sans-serif;
  font-weight: 100;
}
.people-comments .picture {
  width: 50px;
  height: 50px;
  background: gray;
  border-radius: 100px;
}
.comments-section {
}
.comments-section h1 {
  font-size: 14px;
}
.comments-section p {
  font-size: 12px;
  width: 70%;
  flex-direction: column;
  margin-bottom: 10px;
  line-height: 20px;
}

.footer {
  height: 400px;
  width: 100%;
  /* background-color: #00AA95; */
  background-image: radial-gradient(
    circle at 50% 200%,
    #a5e887 100px,
    #00aa95 600px
  );
  box-sizing: border-box;
  padding: 90px 11% 360px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.con {
  margin-bottom: 60px;
  font-size: 17px;
}

.contact-container {
  display: flex;
}

.umar,
.khalish,
.rifqi {
  margin-right: 70px;
  width: 180px;
}

.umar h3,
.khalish h3,
.rifqi h3 {
  font-weight: 600;
  font-size: 17px;
  display: inline-block;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.umar a,
.khalish a,
.rifqi a {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-size: 15px;
}

.umar a::after,
.khalish a::after,
.rifqi a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #fff;
  margin-top: 7px;
  transition: 0.5s;
}

.umar a:hover::after,
.khalish a:hover::after,
.rifqi a:hover::after {
  width: 100%;
  transition: 0.5s;
  background-color: #a5e887;
}

.umar a:hover,
.khalish a:hover,
.rifqi a:hover {
  color: #a5e887;
  transition: 0.5s;
}

.fa {
  margin-right: 10px;
}

.copyright {
  font-weight: 300;
  margin-top: 70px;
}
